/* Hero Section */
.hero-section {
    background-color: #FFF6E9;
    padding: 50px 0;
}

.hero-img {
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
}

.btn-shop {
    background-color: #FFA500;
    color: #fff;
    font-weight: bold;
}

.btn-shop:hover {
    background-color: #ff9100;
}

.product-card img {
    height: 250px;
    object-fit: cover;
}

.contact-section {
    background-color: #f8f9fa;
    padding: 50px 0;
}
.checkout-section {
    background-color: #f8f9fa;
    border-radius: 10px;
}

form h5 {
    margin-bottom: 15px;
    color: #333;
}
